html, body {
    overflow-x: hidden;
}

.profile-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.btn-contact {
    font-size: 24px;
    width: 100%;
    height: 48px;
}
